@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}



#titulo  {
    padding: 30px;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Sarala', sans-serif;

    text-align: center;
    color: #E8F1F2;
    cursor: default;
    

}


body {
    font-size: 150%;
    text-transform: capitalize;
    font-family: 'Sarala', sans-serif;
    
    background: linear-gradient(68.15deg, #13293D 16.62%, #247BA0 85.61%);
    background-blend-mode: color ;
    background-color: rgba(0, 0, 0, 0.4);
    
    
    
}

.nolabel {
    cursor: default;
}

.tabela{
    
    border: none;
    border-collapse: collapse;
    background-color: #E8F1F2;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    
    
}
.linhas1{
    background-color: rgba(0, 0, 0, 0.1);
}
.linhas, .linhas1 {
    
    text-align: center;
    /* border-left: solid rgb(27, 5, 5) 1px; */
    
}


td {
    text-align: justify;
    text-indent: 10px;
   
    /* border-right: solid black 1px;   */
    /* border-top: solid 0.5px; */
    padding: 7px;
    
}

th{
    padding: 10px;
    
    
    
}



.linhas:hover, .linhas1:hover {
    
    background-color: #20527a;
    color: aliceblue;
    transform: scale(1.01);
    transition: all 400ms ease;
    cursor: pointer;
    background-blend-mode: color ;
}



th {
    background-color:#13293D;
    color: #E8F1F2;
    font-weight: bold;
    font-family: 'Sarala', sans-serif;
    
}

.sociais{
    display: flex;
    gap: 5px;
    justify-content: center;
    color: #E8F1F2;
    position: fixed;
    bottom: 10%;
    right: 10%;
    /* background-color: #071727; */
    /* padding: 10px 15px; */
    /* border-radius: 60px; */
    
   
   
}
.fa-instagram{
    /* padding: 10px 15px; */
    background-color: #071727;
    border-radius: 60px;
    padding: 10px 15px;
}

.fa-whatsapp {
    background-color: #071727;
    border-radius: 60px;
    padding: 10px 15px;
}

.fa-whatsapp:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: all 700ms ease;
    color: #1db954; 
}
.fa-instagram:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: all 700ms ease;
    color: #ab218b; 
    
}

.final-logo{
    font-family: 'Righteous', cursive;
    font-size: 40px;
    line-height: 79.47px;
    text-align: center;
    padding-top: 10px;
    color: #E8F1F2;
    padding-bottom: 20px;
    cursor: default;
}

@media(max-width: 850px){
    .tabela{
        width: 80%;
        font-size: 10px;
    }
    .fa-whatsapp, .fa-instagram{
        font-size: 10px;
    }
    .sociais{
        bottom: 5%;
    }
    #titulo{
        font-size: 16px;
    }
    html{
        height: 100%;
    }
    .final-logo{
        font-size: 20px;
        padding-top: 0px;
    }
    
    
}


